In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer

In [7]:
df = pd.read_csv('train.csv', usecols = ['Age','Fare','SibSp','Parch','Survived'])

In [9]:
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [11]:
df['fam'] = df['SibSp'] + df['Parch']

In [13]:
df['fam']

0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    3
889    0
890    0
Name: fam, Length: 891, dtype: int64

In [15]:
df.head()

   Survived   Age  SibSp  Parch     Fare  fam
0         0  22.0      1      0   7.2500    1
1         1  38.0      1      0  71.2833    1
2         1  26.0      0      0   7.9250    0
3         1  35.0      1      0  53.1000    1
4         0  35.0      0      0   8.0500    0

In [19]:
df.drop(['SibSp','Parch'],axis=1,inplace = True)

In [31]:
df.dropna(inplace = True)

In [33]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [35]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [39]:
X_train

      Age      Fare  fam
328  31.0   20.5250    2
73   26.0   14.4542    1
253  30.0   16.1000    1
719  33.0    7.7750    0
666  25.0   13.0000    0
..    ...       ...  ...
92   46.0   61.1750    1
134  25.0   13.0000    0
337  41.0  134.5000    0
548  33.0   20.5250    2
130  33.0    7.8958    0

[571 rows x 3 columns]

In [41]:
# Without binarization

clf = DecisionTreeClassifier()

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

accuracy_score(y_test,y_pred)

0.6223776223776224

In [43]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.6527386541471047

In [45]:
# Applying Binarization

from sklearn.preprocessing import Binarizer

In [61]:
trf = ColumnTransformer([('binar',Binarizer(threshold= 0, copy = False),['fam'])],remainder='passthrough')

In [63]:
X_train_trans = trf.fit_transform(X_train)

In [65]:
X_test_transs = trf.transform(X_test)

In [67]:
clf = DecisionTreeClassifier()

In [69]:
clf.fit(X_train_trans, y_train)

DecisionTreeClassifier()

In [73]:
yt_pred = clf.predict(X_test_transs)

In [75]:
accuracy_score(y_test,yt_pred)

0.6153846153846154

In [77]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X_trf,y,cv=10,scoring='accuracy'))

0.6220070422535212